<div class="card mb-4">
  <div class="row no-gutters">
    <div class="col-4 ">
      <div class="card-title">{{ movie.title}}</div>
    </div>
    <div class="col-md-6 pl-4">
      <button
        type="submit"
        class="btn btn-danger"
        (click)="deleteMovie(movieId)"
      >
          <span *ngIf="!loading">
            Delete
          </span>
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm">
            <span class="sr-only">Loading....</span>
          </span>
      </button>
    </div>
  </div>
</div>

