<div class="row mt-2">
  <div class="col-md-8">
    <h4>Add movie to watchlist</h4>
    <form (ngSubmit)="createMovie()">
      <div class="form-group">
        <label for="movieTitle">Movie title</label>
        <input
          type="text"
          id="movieTitle"
          class="form-control d-inline p-2"
          #titleInput
        />
      </div>
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-success d-inline p-2"
        #addButton
        [disabled]="isUploading"
        >
          <span *ngIf="!isUploading">
            Add movie
          </span>
          <span
            *ngIf="isUploading"
            class="spinner-border spinner-border-sm">
            <span class="sr-only">Loading....</span>
          </span>
        </button>
      </div>
    </form>
  </div>
</div>
