<h4>Movies to watch</h4>

<div class="spinner-border" *ngIf="loading">
  <span class="sr-only">Looking for movies.... Please wait for a moment</span>
</div>

<ng-container *ngIf="!loading" class="row mt-2">
  <app-movie-item
    *ngFor="let movie of movies" [movie]="movie"></app-movie-item>
</ng-container>
